.profile-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  width: 100%;
  top: 72px;
}

.profile-edit-header-bar {
  position: fixed;
  top: 72px;
  width: 100%;
  height: 72px;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
}

.profile-create-header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 94px;
  background-color: white;
  z-index: 1;
}

.profile-create-pin-board-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* top: 94px; */
  z-index: 1;
  text-align: center;
  margin: 0 auto;
}

.profile-create-pin-board-btn {
  position: fixed;
  top: 92px; 
  padding: 6px 8px 6px 8px;
  border-radius: 24px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
}

.profile-create-pin-board-content {
  display: none;
  position: absolute;
  left: 24px;
  top: -24px; 
  background-color: white;
  min-width: 184px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px;
  border-radius: 24px;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.profile-create-pin-board-content div {
  padding: 12px 20px;
  background-color: white;
}

.profile-create-hover {
  position: absolute;
  left: 12px;
  top: -6px;
  width: 12px;
  height: 48px;
  z-index: 2;
  cursor: pointer;
}

.profile-create-pin-board-content div:hover {
  filter: brightness(95%);
}

.profile-create-pin-board-dropdown:hover .profile-create-pin-board-content,
.profile-create-hover:hover .profile-create-pin-board-content {
  display: block;
}

.profile-create-pin-board-dropdown:hover .profile-create-pin-board-btn {
  background-color: #efefef;
}

.profile-info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 74px;
  background-color: white;
  height: 132px;
  width: 100%;
}

.profile-info-name {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 12px;
}

.profile-follow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 188px;
}

.profile-boards-pins-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 52px;
  top: 64px;
  background-color: white;
}

.profile-boards-pins-header button {
  padding: 12px 12px;
  border-radius: 24px;
  background-color: white;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}

.profile-boards-pins-header button:hover {
  filter: brightness(95%);
  text-decoration: underline;
  cursor: pointer;
}

.profile-boards-pins-header button:focus {
  background-color: #333333;
  color: white;
}

/* .profile-board-index-container {
  display: flex;
  position: relative;
  width: 100%;
  top: 64px;
  z-index: 999;
  background-color: turquoise; 
} */

.profile-pin-index-container {
  position: relative;
  top: 72px;
  /* column-count: 7; */
  column-gap: 24px;
  margin: 0 24px 24px 24px;
  /* width: 100%; */
  text-align: center;
  z-index: 0;
}




