.pin-index-container {
  position: relative;
  top: 72px;
  column-count: 7;
  column-gap: 24px;
  margin: 0 24px 24px 24px;
  text-align: center;
  z-index: 0;
}

.pin-index-item-container {
  display: inline-block;
  width: 236px;
  margin-bottom: 18px;
}

.pin-index-item-container:hover img {
  filter: brightness(90%);
}

.pin-index-item-image img {
  width: 100%;
  border-radius: 24px;
}

.pin-index-item-title {
  padding-top: 2px;
  padding-left: 8px;
}

@media screen and (min-width:0){
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 1;
  }
}
@media screen and (min-width:600px){
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 2;
  }
}

@media screen and (min-width:750px){
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 3;
  }
}

@media screen and (min-width:1000px){
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 4;
  }
}

@media screen and (min-width:1250px){
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 5;
  }
}

@media screen and (min-width:1500px){
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 6;
  }
}

@media screen and (min-width:1700px){
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 7;
  }
}
