.show-pin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

#show-pin-arrow {
  position: fixed;
  top: 100px;
  left: 32px;
  z-index: 1;
  background-color: white;
  color: #333333;
  padding: 12px;
  border-radius: 50%;
}

#show-pin-arrow:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.show-pin-box {
  display: flex;
  min-width: 1000px;
  height: 750px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px;
  background-color: white;
  overflow: hidden;
}

.show-pin-image-container {
  flex: 50%;
  overflow: hidden;
}
.show-pin-info-container {
  flex: 50%;
  overflow: hidden;
}

.show-pin-image-container img {
  width: 100%;
  height: 100%;
}

.show-pin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 24px;
}

.fa-pen {
  opacity: 0; 
}

.show-edit {
  opacity: 1;
  color: #333333;
  padding: 16px;
  background-color: white;
}

.show-edit:hover {
  filter: brightness(95%);
  border-radius: 50%;
  cursor: pointer;
}

.show-pin-header-right {
  display: flex;
}

.show-pin-header-right button {
  font-size: 16px;
  padding: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.show-pin-board-dropdown {
  position: relative;
}

.show-pin-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  width: 180px;
  border-radius: 16px 0 0 16px;
}

.select-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.show-pin-select:hover {
  filter: brightness(95%);
  width: 180px;
  border-radius: 16px 0 0 16px;
}

.show-pin-select-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: white;
  min-width: 184px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px;
  border-radius: 20px;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.show-pin-select-content div {
  padding: 12px;
  display: block;
  background-color: white;
}

.show-pin-select-content div:hover {
  filter: brightness(95%);
  cursor: pointer;
} 

.show-pin-board-dropdown:hover .show-pin-select-content {
  display: block;
}

.show-pin-board-dropdown:hover .show-pin-select {
  filter: brightness(95%)
}

.fa-chevron-down {
  color: #333333;
}

.show-pin-save {
  background-color: rgb(168, 23, 216);
  color: white;
  border-radius: 0 16px 16px 0;
}

.show-pin-save:hover {
  filter: brightness(90%);
  color: white;
  border-radius: 0 16px 16px 0;
}

.fa-arrow-left {
  top: 32px;
  left: 32px;
}

.show-pin-info {
  padding: 24px;
}

.show-pin-title {
  font-size: 36px;
  margin-bottom: 12px;
}

.show-pin-description {
  font-weight: 500;
}

