.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 74px;
  background-color: white;
  z-index: 1;
}

.nav-logo {
  width: 48px;
  height: 48px;
  margin-bottom: 6px
}

.search-bar {
  position: relative;
  width: 1000px
}

.search-bar .search-bar-input {
  padding-left: 42px;
}

.search-bar-input {
  box-sizing: border-box;
  background-color: #efefef;
  border-radius: 24px;
  margin-bottom: 6px;
  width: 100%;
  min-height: 48px;
  padding: 8px 16px;
  font-size: 16px;
  overflow: visible;
  border: none;

}

.search-bar-input:focus {
  border: 4px solid rgb(82, 197, 199);
  outline: none;
}

.search-bar-input::placeholder {
  color: #8e8e8e;
  font-weight: bold;
  left: 0px;
}

.search-bar-input:focus::placeholder {
  color: transparent;
}

.search-bar .fa-search {
  position: absolute;
  left: 0;
  top: 6px;
  padding: 8px 12px;
  font-size: 18px;
  color: #aaa;
}

.nav-item  {
  padding: 16px;
  border-radius: 50px;
  font-weight: 700;
  background-color: white;
}

.nav-item:hover {
  filter: brightness(95%);
  cursor: pointer;
} 

.fas {
  font-size: 24px;
  color: #8e8e8e;
}

.logout-button {
  font-size: 16px; 
  font-weight: 700;
  border: 0;
  margin: 0;
  background-color: white;
  outline: none;
  white-space: nowrap;
}

 /* .create-pin-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  padding: 6px 8px 6px 8px;
  border-radius: 24px;
  outline: none;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px;
  z-index: 5;
} */

/* .create-pin-button:hover {
filter: brightness(90%);
}  */

.create-pin-btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  padding: 6px 8px 6px 8px;
  border-radius: 24px;
  outline: none;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px;
  z-index: 5;
  cursor: pointer;
}

.create-pin-content {
  display: none;
  position: fixed;
  right: 32px;
  bottom: 70px;
  background-color: white;
  min-width: 184px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 5px;
  border-radius: 24px;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.create-pin-hover {
  position: fixed;
  right: 36px;
  bottom: 56px;
  width: 120px;
  height: 18px;
  z-index: 2;
  cursor: pointer;
}

.svg-inline--fa {
  font-size: 24px;
  color: #8e8e8e;
}

.create-pin-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: white;
}

.create-pin-content .create-pin:hover {
  filter: brightness(95%);
} 

.create-pin-dropdown:hover .create-pin-content,
.create-pin-hover:hover .create-pin-content {
  display: block;
}

.create-pin-dropdown:hover .create-pin-btn {
  filter: brightness(95%)
}
